* {
  margin: 0;
  padding: 0;
}

.Supply-Card {
  background-color: #fc6e51;
  border-radius: 5px;
  padding-bottom: 15px;
}

.Supply-Card .supply-img {
  align-items: center;
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.title-card {
  color: white;
  font-family: Poppins , sans-serif;
  font-size: 1.45em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 12px;
}
