.recomendations {
  display: flex;
  overflow-x: auto;
}

.recomendations .recomendations-card {
  flex: 1 0 21%;
  margin: 0 11px;
  width: 150px;
}

.scroll-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  overflow: hidden;
  overflow-y: hidden;
}
