.profile-page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
}

.profile-email {
  border-radius: 4px;
  color: black;
  font-size: 25px;
  height: 53px;
  line-height: 53px;
  margin: 10px 0;
  overflow: scroll;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.profile-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-nav a {
  background-color: #c4c4c4;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  font-size: 25px;
  height: 53px;
  line-height: 53px;
  margin: 10px 0;
  overflow: scroll;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.profile-nav a:hover {
  background-color: #818080;
}
