* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  align-self: center;
  background-color: var(--color-background);
  color: var(--color-text);
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

main {
  flex: 1;
}

footer {
  bottom: 0;
  position: fixed;
}
