.ingredientCardContainer {
  background-color: white;
  /* background-color: red; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 170px;
  /* align-items: center; */
  justify-content: space-around;
  margin: 10px 1px 3px;
  width: 162px;
}

.ingredientImageRecipe {
  background-color: #f6f6f6;
  border-radius: 20px;
  height: 100px;
  width: 100px;
  margin-left: 10px;
  /* height: 80%; */
}

.ingredientNameRecipe {
  background-color: white;
  color: black;
  margin-top: 15px;
  font-family: Verdana , sans-serif;
  margin-left: 10px;

  font-size: 16px;
  /* height: 40px; */
  /* width: 100%; */
}
