.searchBar-container {
  /* transform: translateX(360px); */
  animation-fill-mode: forwards;
  animation: normal bar 0.2s;
  background-color: #0fa36b;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.555);
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
  margin-top: 8px;
  padding: 15px;
  position: absolute;
  width: 340px;
  z-index: 11;
}

.searchBar-radios {
  display: flex;
  justify-content: flex-start;
}

.searchBar-radios label {
  margin-bottom: 0;
  margin-right: 10px;
}

.searchBar-btn {
  border-radius: 20px;
  border: none;
  font-size: 16px;
  width: 30%;
}

.search-input {
  /* background-color: blue; */
  border-radius: 20px;
  border: none;
  height: 40px;
  outline: none;
  padding: 10px;
}

.search-input::placeholder {
  /* background-color: blue; */
  font-size: 13px;
  font-weight: 700;
}

@keyframes bar {
  from {
    transform: translateX(360px);
  }
  to {
    transform: translateX(10PX);
  }
}