.perfil-page {
  display: flex;
  flex-direction: column;
  height: 640px;
  text-align: center;
  width: 360px;
}

/* .link-btn {
  display: flex;
  flex-direction: column;
  background-color: black;
} */

.header-email {
  background-color: #c5c5c5;
  border: none;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.8);
  font-family: Poppins , sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 60px;
  letter-spacing: 0.05em;
  margin: 10px 0;
  margin-left: 18px;
  padding: 10px 0;
  width: 90%;
}

.btn-done-recipes {
  background-color: #ffc729;
  border: none;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.8);
  font-family: Poppins , sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 60px;
  letter-spacing: 0.05em;
  margin: 10px 0;
  padding: 10px 0;
  width: 80%;
}

.btn-favorite-recipes {
  background-color: #a0d468;
  border: none;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.8);
  font-family: Poppins , sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 60px;
  letter-spacing: 0.05em;
  margin: 10px 0;
  padding: 10px 0;
  width: 80%;
}

.btn-exit {
  background-color: #fc6e51;
  border: none;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.8);
  font-family: Poppins , sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 60px;
  letter-spacing: 0.05em;
  margin: 10px 0;
  padding: 10px 0;
  width: 80%;
}

.logo-image {
  margin-left: 100px;
  padding: 10px;
  width: 40%;
}

/* FFC729
FCD770
DFB28B
FC6E51
A0D468 */
