html {
  background-image: url('https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bnV0cml0aW9ufGVufDB8fDB8fA%3D%3D&w=1000&q=80');
  background-repeat: no-repeat;
  background-size: 126vh;
  background-attachment: fixed;
}

body {
  font-family: Poppins , sans-serif;
  width: 360px;
  box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 45%;
}

p {
  font-size: 16px;
  text-align: center;
}
